<div class="header">
    <h1>{{title}}</h1>
    <div class="hamburger-menu right-aligned" (document:click)="onOutsideClick($event)">
        <button mat-icon-button (click)="toggleMenu()" class="menu-button">
            <mat-icon>menu</mat-icon>
        </button>
        <div *ngIf="menuOpen" class="menu-content floating-menu">
            <mat-checkbox 
                [ngModel]="allSelected" 
                (change)="toggleSelectAll($event)">
                Select All
            </mat-checkbox>
            <div *ngFor="let item of items; trackBy: trackById">
                <mat-checkbox 
                    [ngModel]="availableLangs.includes(item.id)" 
                    (change)="toggleSelection(item.id, $event)">
                    {{ item.label }}
                </mat-checkbox>
            </div>      
        </div>
    </div>
</div>
<br />
<div class="flag-container">
    <span *ngFor="let flag of flagList" class="fi" [ngClass]="'fi-' + flag"></span>
</div>

<nav>
  
</nav>
<router-outlet></router-outlet>
