version: "3"
services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "8181:80"
    networks:
      - gitlab-net  
  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    networks:
      - gitlab-net

networks:
  gitlab-net:
