<h2>
    <span *ngIf="inputHistory.length > 0">
        <a (click)="back()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </a>
    </span>
    {{title}}
    <span *ngIf="hasNounOrVerb(words)">        
        <a title="search results diagram" (click)="showImage(words)">
            <mat-icon>account_tree</mat-icon>            
        </a>
    </span>
</h2>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<app-image-popup #popup></app-image-popup>
<div *ngIf="!loading" class="search-results">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let word of words; first as isFirst" [expanded]="isFirst">
            <mat-expansion-panel-header>
                <mat-panel-title>                    
                    <span [class]="langIconClassLookup[word.lang]"></span> <span class="span-padding">{{word.name}} ({{word.pos}})</span>
                </mat-panel-title>
                <mat-panel-description title="{{word.definition}}">
                    {{word.definition.substring(0, 120)}} ...
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngIf="word.synonyms.length > 0">
                <strong>Synonyms: </strong>
                <ng-container *ngFor="let item of word.synonyms; let last = last">
                    <a (click)="getWords(word, 'synonym', item)">{{ item }}</a><span *ngIf="!last">, </span>
                  </ng-container>
            </p>
            <p *ngIf="word.example">
                <strong>Example: </strong>{{word.example}}
            </p>
            <ul>
                <li *ngFor="let item of getOtherLangs(word)">
                    <span [class]="langIconClassLookup[item]"></span>     
                    <span class="span-padding">               
                    <span *ngFor="let w of getLangItems(word, item); let i = index" class="span-padding-list">
                        <a (click)="getTranslation(word, item, w)">
                            <ng-container *ngIf="i >= getLangItems(word, item).length - 1">{{w}}</ng-container> 
                            <ng-container *ngIf="i < getLangItems(word, item).length - 1">{{w}}, </ng-container> 
                        </a>                        
                    </span>
                </span>
                </li>
              </ul>            
                                            
            <span *ngIf="hasNounOrVerb([word])">
                <a title="diagram" (click)="showImage([word])">
                    <mat-icon>account_tree</mat-icon>            
                </a>
            </span>
            <span *ngIf="word.lang === 'en'">
                <a title="LOD View" href="https://edu.yovisto.com/resource/wordnet/en/id/oewn-{{word.offset}}-{{word.wordKey.split('.')[1]}}"
                    target="_blank">
                    <mat-icon>share</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.hypernym > 0">
                <a title="hypernyms: words with broader meaning" (click)="getWords(word, 'hypernym')">
                    <mat-icon>border_top</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.hyponym > 0">
                <a title="hyponyms: words with narrower meaning" (click)="getWords(word, 'hyponym')">
                    <mat-icon>border_bottom</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.holonym > 0">
                <a title="holonyms: words that this word is part of" (click)="getWords(word, 'holonym')">
                    <mat-icon>border_left</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.meronym > 0">
                <a title="meronyms: words that are part of this word" (click)="getWords(word, 'meronym')">
                    <mat-icon>border_right</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.antonym > 0">
                <a title="antonyms" (click)="getWords(word, 'antonym')">
                    <mat-icon>compare_arrows</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.entailment > 0">
                <a title="entailments" (click)="getWords(word, 'entailment')">
                    <mat-icon>arrow_forward</mat-icon>
                </a>
            </span>
            <br />
            <br />
            <div class="bordered-container">
            <mat-accordion>
                <mat-expansion-panel class="no-bevel" (opened)="getRelatedWords(word)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Similar Words
                    </mat-panel-title>
                    <mat-panel-description>
                      list of words closely related to this one
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div *ngIf="word.relatedSynsets.length > 0 else elseLoadingTemplate">
                    <table>                        
                        <tbody>
                          <tr *ngFor="let item of word.relatedSynsets">
                            <td>{{ [item.name].concat(item.synonyms).join(', ') }}</td>
                            <td>{{ item.pos }}</td>
                            <td>{{ item.definition }}</td>
                            <td>
                                <a title="view details" (click)="displayRelatedWords(word, [item])">
                                    <mat-icon>arrow_forward</mat-icon>
                                </a>                                
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <span *ngIf="hasNounOrVerb([word]) && hasNounOrVerb(word.relatedSynsets)">                      
                        <a title="diagram" (click)="showImage([word].concat(word.relatedSynsets))">
                          <mat-icon>account_tree</mat-icon>
                        </a>
                      </span>
                      <span>                      
                      <a title="view all in new search frame" (click)="displayRelatedWords(word, word.relatedSynsets)">
                        <mat-icon>arrow_forward</mat-icon>
                      </a>
                    </span>
                  </div>
                  <ng-template #elseLoadingTemplate>
                    loading...
                  </ng-template>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
        </mat-expansion-panel>
          
    </mat-accordion>
    <p></p>
</div>
<div *ngIf="words.length == 0 && this.inputParams && !this.loading">No search results found</div>