 input {
   display: block;
   width: 100%;
   padding: .5rem;
   margin: 1rem 0;
   box-sizing: border-box;
 }

 .search-results {
   display: block;
   width: 100%;
   box-sizing: border-box;
   float: left;
 }

 img {
   width: 100%;
   height: 100%;
   object-fit: contain;
 }

 .span-padding {
  margin-left: 5pt;
 }