<h2>
    <span *ngIf="inputParamsHistory.length > 0">
        <a (click)="back()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </a>
    </span>
    {{title}}
    <span *ngIf="words.length > 0">        
        <a title="search results diagram" (click)="showImage(null)">
            <mat-icon>photo</mat-icon>
        </a>
    </span>
</h2>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<app-image-popup #popup></app-image-popup>
<div *ngIf="!loading" class="search-results">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let word of words; first as isFirst" [expanded]="isFirst">
            <mat-expansion-panel-header>
                <mat-panel-title>                    
                    <span [class]="langIconClassLookup[word.lang]"></span> <span class="span-padding">{{word.name}} ({{word.pos}})</span>
                </mat-panel-title>
                <mat-panel-description title="{{word.definition}}">
                    {{word.definition.substring(0, 120)}} ...
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p *ngIf="word.synonyms.length > 0">
                <strong>Synonyms: </strong>
                <ng-container *ngFor="let item of word.synonyms; let last = last">
                    <a (click)="getWords(word, 'synonym', item)">{{ item }}</a><span *ngIf="!last">, </span>
                  </ng-container>
            </p>
            <p *ngIf="word.example">
                <strong>Example: </strong>{{word.example}}
            </p>
            <ul>
                <li *ngIf="word.lang != 'en'">
                    <span [class]="langIconClassLookup['en']"></span><span class="span-padding">{{word.genericLanguageDescriptions.descriptionLookup['en'].split(",").join(", ")}}</span>
                </li>
                <li *ngIf="word.lang != 'de'">
                    <span [class]="langIconClassLookup['de']"></span><span class="span-padding">{{word.genericLanguageDescriptions.descriptionLookup['de'].split(",").join(", ")}}</span>
                </li>    
                <li *ngIf="word.lang != 'fr'">
                    <span [class]="langIconClassLookup['fr']"></span><span class="span-padding">{{word.genericLanguageDescriptions.descriptionLookup['fr'].split(",").join(", ")}}</span>
                </li>
                <li *ngIf="word.lang != 'es'">
                    <span [class]="langIconClassLookup['es']"></span><span class="span-padding">{{word.genericLanguageDescriptions.descriptionLookup['es'].split(",").join(", ")}}</span>
                </li>
                <li *ngIf="word.lang != 'it'">
                    <span [class]="langIconClassLookup['it']"></span><span class="span-padding">{{word.genericLanguageDescriptions.descriptionLookup['it'].split(",").join(", ")}}</span>
                </li>
                <li *ngIf="word.lang != 'nl'">
                    <span [class]="langIconClassLookup['nl']"></span><span class="span-padding">{{word.genericLanguageDescriptions.descriptionLookup['nl'].split(",").join(", ")}}</span>
                </li>
                <li *ngIf="word.lang != 'pt'">
                    <span [class]="langIconClassLookup['pt']"></span><span class="span-padding">{{word.genericLanguageDescriptions.descriptionLookup['pt'].split(",").join(", ")}}</span>
                </li>
            </ul>
                                            
            <span>
                <a title="diagram" (click)="showImage(word)"
                    target="_blank">
                    <mat-icon>photo</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.hypernym > 0">
                <a title="hypernyms: words with broader meaning" (click)="getWords(word, 'hypernym')">
                    <mat-icon>border_top</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.hyponym > 0">
                <a title="hyponyms: words with narrower meaning" (click)="getWords(word, 'hyponym')">
                    <mat-icon>border_bottom</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.holonym > 0">
                <a title="holonyms: words that this word is part of" (click)="getWords(word, 'holonym')">
                    <mat-icon>border_left</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.meronym > 0">
                <a title="meronyms: words that are part of this word" (click)="getWords(word, 'meronym')">
                    <mat-icon>border_right</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.antonym > 0">
                <a title="antonyms" (click)="getWords(word, 'antonym')">
                    <mat-icon>compare_arrows</mat-icon>
                </a>
            </span>
            <span *ngIf="word.linguisticCounter.entailment > 0">
                <a title="entailments" (click)="getWords(word, 'entailment')">
                    <mat-icon>arrow_forward</mat-icon>
                </a>
            </span>
        </mat-expansion-panel>
    </mat-accordion>
    <p></p>
</div>
<div *ngIf="words.length == 0 && this.inputParams && !this.loading">No search results found</div>