<h2>Analyse Text</h2>
<div *ngIf="results.length == 0">
    <form [formGroup]="textAnalyseForm" (ngSubmit)="analyse()">
        <mat-form-field>
            <textarea formControlName="textAnalyse" matInput rows="20"
                placeholder="Enter text to analyse..."></textarea>
        </mat-form-field>
        <button (click)="clear()">clear</button>
        <button type="submit">analyse</button>
    </form>
</div>
<div *ngIf="results.length > 0">
    <app-text-analyse-result [results]="results" [text]="text"></app-text-analyse-result>
    <button (click)="clear()">clear</button>
</div>