mat-form-field {
    width: 100%;
    height: 100%;
    text-align: center;
}

a {
    color: blueviolet;
    text-decoration: underline;
}

a:link,
a:visited {
    background-color: #f44336;
    color: blueviolet;
    padding: 14px 25px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}