table {
    width: 100%;
    border-collapse: collapse;
}

/* Apply padding to table cells (td) */
table td {
    padding: 10px;
}

table.table-with-margin {
    margin: 20px;
}

table.table-with-margin tr {
    margin: 5px 0;
}

a {
    color: blueviolet;
    text-decoration: underline;
}

a:link,
a:visited {
    background-color: #f44336;
    color: blueviolet;
    padding: 14px 25px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}
